.first, .second {
	color: #fff;
	line-height: 120px;
	text-align: center;
	font-size: 30px;
}

.first {
	height: 120px;
  	background-color: #00BCD4;
  	margin-bottom: 20px;
}
@media (min-width: 700px){
	.first{
		float:left;
		width: 50%;
	}
}
.second {
	height: 120px;
	background-color: deeppink;
}
@media (min-width: 700px){
	.second{
		float: right;
		width: 50%;
	}
}